* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aquamarine;
    background-image: linear-gradient(to right,#00bbff, #74efa3);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 50px 0;
}

.title {
    font-size: 60px;
    text-align: center;
}

main {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.control-panel {
    display: flex;
    flex-flow: column;
    width: 300px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

button {
    width: 250px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.color-pick {
    width: 100px;
}

.grid-size {
    font-size: 24px;
}

.grid-length {
    width: 100%;
}

.grid-container {
    background-color:#ffffff;
    width: 600px;
    height: 600px;
    display: grid;
    box-shadow: 5px 5px 10px;
    grid-template-columns: repeat(4,auto);
}